*{
    margin :0;
    padding:0;
}
/*.raw{
		align-items: center;
	}*/
	.regs_heading {
    letter-spacing: 1px;
    font-weight: 600;
    color: rgb(18, 88, 122);
    font-size: 30px;
}

.register_logo {
    margin: auto;
}